.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    height: 100%;
    width: 100%;
    background-color:white;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.15);
}

.router-link-active{
    color: #0c3c4a !important;
}

.navbar-button {
    font-size: 20px;
    order: 0;
    flex: 1;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #999999;
    background-color: transparent;
    border: none;
}

.navbar-button:focus {
    border: none;
    outline: none;
}

.icon{
    font-size: 20px;
    width: 100%;
}


@media (min-width: 768px) {

    .navbar{
        box-shadow: none;
    }

    .filter{
        display: none;
    }

    
}

