.user-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.show{
    display: block !important;
}

.dropdown-container{
    align-self: center;
    position: absolute;
}

.dropdown-btn{
    align-items: center;
    display: flex;
    background-color: transparent;
    border: none;
}

.dropdown-options{
    /* display: none; */
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown-option{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.profile-image{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user-email{
    display: none;
    margin-right: 10px;
}


@media (min-width: 768px) {
    .user-email{
        display: inline-block;
    }

    
.dropdown-options{
    left: 0;
    top: 40px;
}

}