.search-panel{
    display: block;
}

.news-grid{
    display: none;
}


@media (min-width: 768px) {
    .search-panel {
        display: none;
    }

    .news-grid{
        display: inline;
    }
}
