.search-panel{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    height: 100%;
}

.search-btn{
    max-width: 90%;
}

.ng-select ::ng-deep .ng-placeholder{
    margin-right: 10px;
    color: #999999;
}

.ng-select{
    width: 90% ;
    margin-bottom: 10px;
}

.btn-icon{
    margin-right: 10px;
}

.ng-select ::ng-deep .ng-value{
    color: #999999
}

.ng-select ::ng-deep .ng-select-container{
    padding: 10px;
    border: solid 1px #bac1c3 !important;
    border-radius: 4px;
    width: 100%;
    padding-top: 14px !important;
    padding-bottom: 12px !important;

}

.ng-select ::ng-deep .ng-option{
    padding: 10px;
    background-color: white;
}

.ng-select ::ng-deep .ng-dropdown-panel{
    margin-top: 5px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px ;
    overflow: hidden;
}

.ng-select ::ng-deep .scroll-host::-webkit-scrollbar {
    width: 5px;
    background: #999999;
  }

.ng-select ::ng-deep .scroll-host::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.ng-select ::ng-deep .scroll-host::-webkit-scrollbar-thumb {
    background: #0c3c4a;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    display: none;
}

.ng-select ::ng-deep .ng-arrow-wrapper:before {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    line-height: 1;
    font-weight: 900;
    color: #999999;
    margin-left: 10px;
    margin-right: 5px;
}


@media (min-width: 768px) {
    .search-panel{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ng-select ::ng-deep .ng-select-container{
        padding: 10px;
        border: solid 1px #999999    ;
        border-radius: 4px;
    }

    .ng-select{
        margin-bottom: 0;
        max-width: 200px;
    }

    .search-btn{
        display: none;
    }

    .countries{
        margin-right: 10px;
    }
    
}

