.topbar {
    width: 100vw;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
}

.topbar-container{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.topbar-container *{
    flex: 1;
}

.logo-container{
    place-self: center;

}

.title-container{
    align-self: center;
}

.title{
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0c3c4a;
    margin: 0;
}

.logo{
    display: block;
    max-width:95px;
    max-height:95px;
    width: auto;
    height: auto;
}

@media (min-width: 768px) {
    .topbar-container{
        padding: 0 32px;
    }

    .title{
        font-size: 30px;
    }
    

    .logo{
        display: block;
        max-width:140px;
        max-height:95px;
        width: auto;
        height: auto;
    }
}